doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
  body
    h1 Welcome to Student Management
    a(href='/students') View Students
    a(href='/students/add') Add Student
